<div class="product-list">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-4" *ngFor="let product of products">
                <div class="product">
                    <a href="#" class="product-image">
                        <img [src]="product.imgUrl" alt="Product Image" class="image">
                    </a>
                    <h3 class="product-title">
                        <a [routerLink]="['/products', product.id]" routerLinkActive="router-link-active" >{{product.name}}</a>
                    </h3>
                    <p class="product-category">{{product.category}}</p>
                    <p class="product-price">KZT {{product.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>