<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/categories']">Shop Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let category of categories">
        <a class="nav-link" href="#"
        [routerLink]="['/categories', category.id]"
        routerLinkActive="active">{{category.name}} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a
      *ngIf="!authService.isAuthorized()" 
      class="btn btn-outline-success my-2 my-sm-0" type="submit"
      [routerLink]="['/login']">Log In</a>
      <a 
      *ngIf="authService.isAuthorized()"
      [routerLink]="['/cart']"
      class="btn btn-outline-success my-2 my-sm-0" type="submit"
      routerLinkActive="active">Cart</a>
      <a
      *ngIf="authService.isAuthorized()" 
      class="nav-link" type="submit"
      >Hello {{authService.user.username}}</a>
    </form>
  </div>
</nav>